* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

:root {
    --background-color: rgb(255, 255, 255);
    --background-color-2: rgb(245, 245, 245);
    --grey-color: rgb(96, 96, 96);
    --dark-grey-color: rgb(23, 23, 23);
    --title-font: 'Unbounded', 'Arial';
    --text-font: 'Open+Sans', 'Arial';
    --green-lighter: rgb(105, 152, 61);
    --green-darker: rgb(75 107 43);
    --shadow: 3px 2px 5px 5px rgba(104, 104, 104, 0.295);
    --footer-background: rgb(8, 51, 108);
    --footer-title: rgb(21, 130, 246);
    --footer-signature-background: rgb(18, 33, 52);
    --shadow-text-on-bigger-screens: 5px 5px 10px var(--dark-grey-color);
}

html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

/* mobile-first */
/* very small screen portrait */
/* tested on iPhone SE5, BlackBerry Z30 (small) */

.nav-bar {
    position: fixed;
    top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    z-index: 2;
    background-color: var(--background-color)
}

/* this elements will be only visible on desktop+ */
.nav-bar .desktop-menu {
    display: none;
}

.mobile-menu {
    position: relative;
    height: 100vh;
    background-color: var(--dark-grey-color);
    width: 60%;
    left: 60%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.active-mobile-menu {
    left: 0%;
}

/* active class have arround 60% width from mobile.menu */
/* javascript will change icon on the cross  */

.fake-bar {
    height: 70px;
}

.fake-bar .hamburger {
    position: absolute;
    left: -70px;
    width: 70px;
    height: 70px;
}

.mobile-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    height: 40%;
    font-family: var(--title-font);
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
}

.mobile-menu ul li,
.mobile-menu ul li a {
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.8rem;
    width: 100%;
}

.mobile-menu ul li:nth-child(1)>a,
.mobile-menu ul li:nth-child(3) {
    color: var(--green-lighter);
}

.nav-bar .logo {
    width: 70px;
    cursor: pointer;
}

.nav-bar .logo2 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
}

.nav-bar .logo img {
    height: 100%;
}

.nav-bar .hamburger {
    width: 80px;
    position: relative;
}

.nav-bar .hamburger i {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2rem;
    z-index: 9;
}

.introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 70px;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
    background-image: url(./images/backgrounds_introduction/ogrod_noca_mobile_p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.introduction h1 {
    font-family: var(--title-font);
    color: var(--background-color);
    text-shadow: var(--shadow-text-on-bigger-screens);
    font-size: 2.3rem;
    padding: 10px 20px;
    letter-spacing: 2px;
    line-height: 120%;
    font-weight: 900;
    text-align: center;
}

.introduction p {
    font-family: var(--title-font);
    color: var(--background-color);
    text-shadow: var(--shadow-text-on-bigger-screens);
    padding: 10px 20px 10px 20px;
    letter-spacing: 1.5px;
    line-height: 150%;
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
}

.introduction button,
.service button {
    position: relative;
    width: 65%;
    margin: 0 auto 10px auto;
    font-family: var(--title-font);
    background-color: var(--green-darker);
    height: 40px;
    border: none;
    border-radius: 2%;
    font-size: 1.2rem;
    color: var(--background-color);
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.introduction button:hover,
.service button:hover {
    background-color: var(--green-lighter);
}

.introduction button span {
    position: absolute;
    display: block;
    top: 0%;
    left: 50%;
    color: var(--background-color);
    -webkit-animation: arrow 3s infinite linear;
    animation: arrow 3s infinite linear;
}

.introduction button span i {
    position: absolute;
    font-size: 1.5rem;
    -webkit-transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
}

.what-we-do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--background-color-2);
    width: 100vw;
    font-family: var(--title-font);
    color: var(--dark-grey-color);
    margin-bottom: 30px;
}

.what-we-do .slider {
    position: relative;
    margin: 6vw 0px;
    height: 400px;
    width: 88%;
    border: none;
    border-radius: 1%;
    /* overflow: hidden; */
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.what-we-do .slider>img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1%;
}

.what-we-do .slider .active {
    opacity: 1;
}

.what-we-do h2,
.opinions h2 {
    color: var(--dark-grey-color);
    font-size: 3.5rem;
    font-weight: 400;
    padding: 20px 8vw;
}

.what-we-do .small-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 84vw;
}

.what-we-do .small-title span {
    position: relative;
    margin-left: 8vw;
    border-bottom: 1px solid var(--dark-grey-color);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 45%;
}

.what-we-do .small-title p {
    padding-left: 10px;
    font-size: 1.4rem;
}

.what-we-do .short-list ul {
    margin: 20px 8vw 20px 12vw;
    padding-bottom: 30px;

}

.what-we-do .short-list ul li {
    font-weight: 300;
    font-size: 1.6rem;
    padding: 5px;
    letter-spacing: 1.5px;
}

.full-list-services {
    position: relative;
    background-color: var(--background-color);
    width: 100vw;
    font-family: var(--title-font);
    color: var(--dark-grey-color);
}

.full-list-services span {
    display: none;
}

.full-list-services h2 {
    font-size: 2rem;
    text-align: center;
    margin: 30px 0px;
}

.full-list-services .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    margin: 40px 0px;
    background-color: var(--background-color-2);
    border-radius: 1%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.full-list-services .service:hover {
    -webkit-box-shadow: 0px 0px 0px 1px var(--green-lighter);
    box-shadow: 0px 0px 0px 1px var(--green-lighter);
    cursor: pointer;
}

.full-list-services .service .img-of-service {
    width: 85%;
    height: 200px;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 1%;

}

.full-list-services .service .img-of-service img {
    width: 100%;
}

.full-list-services .service h3 {
    font-size: 2rem;
}

.full-list-services .service h3,
.full-list-services .service p,
.full-list-services .service p strong {
    padding: 0px 7.5vw;
    font-size: 1.3rem;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: left;
    display: inline;
    letter-spacing: 1.5px;
    line-height: 150%;
}

.full-list-services .service p {
    font-weight: 300;
}

.full-list-services .service p strong {
    padding: 0px;
    font-weight: 300;
}

.full-list-services .service button {
    margin-top: 25px;
    margin-bottom: 25px;
}

.opinions {
    position: relative;
    background-color: var(--background-color-2);
    width: 100vw;
    font-family: var(--title-font);
    color: var(--dark-grey-color);
}

.opinions .small-stats {
    display: none;
}

.opinions p {
    padding: 0px 20px;
    font-size: 1.2rem;
    letter-spacing: 2.2px;
    line-height: 130%;
    z-index: 3;
}

.opinions .opinion {
    position: relative;
    margin: 30px 0px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


section.opinions>div:nth-child(3) {
    background-image: url(./images/opinions/podlewanie-ogrodu.jpg);
}

section.opinions>div:nth-child(4) {
    background-image: url(./images/opinions/piekny-ogrod.jpg);
}

section.opinions>div:nth-child(5) {
    background-image: url(./images/opinions/fontanna-w-ogrodzie.jpg);
}

.opinions .opinion .white-box {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 5px;
    bottom: 10%;
    border-radius: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
    height: 160px;
    background-color: var(--background-color);
    color: var(--dark-grey-color);
}

.opinions .opinion .white-box img {
    position: absolute;
    z-index: 1;
    height: 90%;
    opacity: 0.3;
    right: 0%;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-family: var(--title-font);
    color: var(--background-color);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--footer-background);
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .logo-footer {
    margin-top: 30px;
    width: 150px;
    height: 150px;
}

footer .info-footer {
    width: auto;
    margin: 15px 0px 30px 0px;
}

footer .info-footer p {
    text-align: center;
}

footer h5,
footer span {
    display: inline-block;
    color: var(--footer-title);
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

footer ul {
    margin: 0 auto;
    width: 100%;
}

footer ul li {
    padding: 2px;
    text-decoration: none;
    list-style: none;
}

footer .author ul li {
    text-align: center;
}

footer .rights {
    width: 100%;
    margin-top: 30px;
    padding: 30px 20px;
    background-color: var(--footer-signature-background);
    text-align: center;
}

footer .rights p {
    padding: 3px;
}

footer .rights a {
    display: inline-block;
    padding-top: 3px;
    text-decoration: none;
    color: var(--footer-title)
}

/* landscape mobile  */

@media (orientation: landscape) {

    .introduction {
        height: 110vh;
        background-image: url(./images//backgrounds_introduction/ogrod_noca_mobile_l.jpg);
    }

    .introduction h1 {
        padding: 30px 50px;
    }

    .introduction p {
        padding: 20px 50px;
    }

    .introduction button {
        width: 50%;
    }

    .what-we-do .slider {
        height: 600px;
        width: 60%;
    }

    .full-list-services .service .img-of-service {
        width: 70%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
    }

    section.full-list-services>div.services-container>div:nth-child(1)>div>img {
        content: url(./images/mobile_horizontal/services_main_page/ogrodnik-zakladanie-ogrodu.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(2)>div>img {
        content: url(./images/mobile_horizontal/services_main_page/ogrodnik-pielegnacja-ogrodu.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(3)>div>img {
        content: url(./images/mobile_horizontal/services_main_page/zraszacz-systemy-nawodnien.jpg)
    }

    section.full-list-services>div.services-container>div:nth-child(4)>div>img {
        content: url(./images/mobile_horizontal/services_main_page/aranzacja-zieleni.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(5)>div>img {
        content: url(./images/mobile_horizontal/services_main_page/outsourcing-grafika.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(6)>div>img {
        content: url(./images/mobile_horizontal/services_main_page/oprysk-ogrodu.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(7)>div>img {
        content: url(./images/mobile_horizontal/services_main_page/pracownicy-budowlani.jpg);
    }


    .full-list-services .service h3,
    .full-list-services .service p,
    .full-list-services .service p strong {
        padding: 0px 15vw;
    }

    .full-list-services .service p strong {
        padding: 0px;
    }

    .full-list-services .service button {
        width: 40%;
    }

    .what-we-do h2,
    .opinions h2 {
        padding: 20px 15vw;
    }

    .opinions p {
        padding-left: 15vw;
    }

    .opinions .opinion .white-box p {
        padding: 30px;
    }

    section.opinions>div:nth-child(3) {
        background-image: url(./images/mobile_horizontal/opinions/zraszacz-podlewa-ogrod.jpg);
    }

    section.opinions>div:nth-child(4) {
        background-image: url(./images/mobile_horizontal/opinions/piekny-ogrod-klientki.jpg);
    }

    section.opinions>div:nth-child(5) {
        background-image: url(./images/mobile_horizontal/opinions/fontanna-w-ogrodzie.jpg);
    }

    .main-footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

}

/* bigger phones screen landscapes */

@media (min-width: 667px) and (orientation: landscape) {

    .introduction {
        height: 120vh;
    }

    .introduction h1 {
        font-size: 3rem;
    }

    .introduction p {
        font-size: 2rem;
    }

    .introduction button {
        width: 300px;
    }

    .introduction button {
        font-size: 1.7rem;
    }

    .what-we-do {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        padding: 0px 5vw;
    }

    .description h2 {
        padding-left: 10px;
        margin: 0px;
    }

    .what-we-do .small-title span {
        width: 30%;
        padding-left: 10px;
        margin: 0px;
    }

    .what-we-do .short-list ul {
        padding: 10px;
        margin: 0px;
    }

    .what-we-do .description {
        width: 50%;
    }

    .what-we-do .description .slider {
        width: 50%;
    }
}

/* bigger phones screens portrait*/

@media (min-width: 375px) and (orientation: portrait) {

    .introduction h1 {
        font-size: 3rem;
    }

    .introduction p {
        font-size: 1.5rem;
    }

    .introduction button {
        height: 50px;
        font-size: 1.4rem;
    }

    .introduction button span i {
        font-size: 3rem;
    }

    .main-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@media (min-width: 375px) and (orientation: landscape) {
    .main-footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/* mobile look of the main-page is completed
testes on the phone models: iPhoneSE, iPhone 5/6/7/8/11-12pro + iPhone X */

/* tablets portrait - tested on iPad 768x1024*/

@media (min-width: 768px) and (orientation: portrait) {
    .nav-bar {
        height: 95px;
    }

    .fake-bar {
        height: 95px;
    }

    .fake-bar .hamburger {
        width: 95px;
        left: -95px;
        height: 95px;
        font-size: 2.4rem;
    }

    .mobile-menu ul li,
    .mobile-menu ul li a {
        font-size: 2.4rem;
    }


    .nav-bar .logo {
        width: 95px;
    }

    .nav-bar .logo2 {
        height: 95px;
    }

    .nav-bar .hamburger {
        height: 95px;
        width: 95px;
    }

    .nav-bar .hamburger i {
        font-size: 2.4rem;
    }

    .introduction {
        background-image: url(./images/backgrounds_introduction/ogrod_noca_tablets_p.jpg);
        height: 110vh;
    }

    .introduction h1 {
        padding-top: 50px;
        font-size: 3.5rem;
        text-shadow: 1px 1px var(--dark-grey-color);
    }

    .introduction p {
        font-size: 1.8rem;
        padding: 30px 50px;
        text-shadow: 1px 1px var(--dark-grey-color);
    }

    .introduction button,
    .service button {
        width: 50%;
        font-size: 2rem;
        height: 60px;
    }

    .introduction button span i {
        font-size: 4rem;
    }

    .what-we-do {
        padding: 0px 7.5vw;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .what-we-do h2 {
        padding: 30px;
        font-size: 4rem;
    }

    .what-we-do .slider {
        width: 50%;
        height: 600px;
    }

    .what-we-do .description {
        width: 50%;
    }

    .what-we-do .small-title span {
        width: 25%;
        margin-left: 30px;
    }

    .what-we-do .small-title p {
        font-size: 2rem;
    }

    .what-we-do .short-list ul {
        margin: 20px;
    }

    .what-we-do .short-list ul li {
        font-size: 2rem;
    }

    .full-list-services h2,
    .full-list-services .service h3 {
        font-size: 2.5rem;
    }

    .full-list-services .service .img-of-service {
        height: 400px;
    }

    .full-list-services .service p,
    .full-list-services .service p strong {
        font-size: 1.8rem;
        line-height: 175%;
    }

    section.full-list-services>div.services-container>div:nth-child(1)>div>img {
        content: url(./images/services_tablet_portrait/ogrodnik-zakladanie-ogrodu.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(2)>div>img {
        content: url(./images/services_tablet_portrait/ogrodnik-pielegnacja-ogrodu.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(3)>div>img {
        content: url(./images/services_tablet_portrait/systemy-nawodnien-zraszacz.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(4)>div>img {
        content: url(./images/services_tablet_portrait/aranzacja-zieleni.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(5)>div>img {
        content: url(./images/services_tablet_portrait/outsourcing-grafika.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(6)>div>img {
        content: url(./images/services_tablet_portrait/oprysk-ogrodu.jpg);
    }

    section.full-list-services>div.services-container>div:nth-child(7)>div>img {
        content: url(./images/services_tablet_portrait/pracownicy-budowlani.jpg);
    }

    .full-list-services .service button {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .opinions p {
        padding: 0px 7.5vw;
        font-size: 1.8rem;
        line-height: 175%;
    }

    .opinions h2 {
        font-size: 4rem;
        padding-left: 7.5vw;
    }

    .opinions .opinion {
        height: 500px;
    }

    section.opinions>div:nth-child(3) {
        background-image: url(./images/mobile_horizontal/opinions/zraszacz-podlewa-ogrod.jpg);
    }

    section.opinions>div:nth-child(4) {
        background-image: url(./images/mobile_horizontal/opinions/piekny-ogrod-klientki.jpg);
    }

    section.opinions>div:nth-child(5) {
        background-image: url(./images/mobile_horizontal/opinions/fontanna-w-ogrodzie.jpg);
    }

    .main-footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
    }
}


/* tablets portrait  */

@media (min-width: 768px) and (orientation: portrait) {
    .introduction {
        height: 100vh;
        background-image: url(./images/backgrounds_introduction/ogrod_noca_tablets_p.jpg);
    }

    .introduction h1 {
        font-size: 4rem;
        text-shadow: 1px 1px var(--dark-grey-color);
    }

    .introduction p {
        font-size: 2.5rem;
        padding: 50px;
        text-shadow: 1px 1px var(--dark-grey-color);
    }
}

/* small and avarage tablets like iPad and iPad mini*/

@media (min-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .introduction {
        height: 100vh;
    }

    .introduction {
        background-image: url(./images/backgrounds_introduction/ogrod_noca_tablets_l_small_avg.jpg);
        padding-bottom: 80px;
    }

    .introduction h1 {
        font-size: 4rem;
    }

    .introduction p {
        padding-left: 15%;
        padding-right: 15%;
    }

    body>div>section.introduction>p {
        margin-top: 30px;
    }

    .mobile-menu ul li,
    .mobile-menu ul li a {
        font-size: 2.6rem;
    }


    .introduction button {
        width: 40%;
        height: 50px;
    }

    .introduction button span i {
        font-size: 3rem;
    }
}

/* large tablets like iPadPro - only portrait */

@media (min-width: 1024px) and (orientation: portrait) {

    body {
        background-color: var(--background-color-2);
    }

    .nav-bar {
        height: 110px;
    }

    .fake-bar {
        height: 110px;
    }


    .fake-bar .hamburger {
        position: absolute;
        left: -110px;
        width: 110px;
        height: 110px;
    }

    .nav-bar .logo,
    .nav-bar .logo2,
    .nav-bar .hamburger {
        width: 110px;
        height: 110px;
    }

    .nav-bar .hamburger i {
        font-size: 4rem;
    }

    .introduction {
        height: 100vh;
        background-image: url(./images/backgrounds_introduction/ogrod_noca_tablets_p_big.jpg);
    }

    .introduction h1 {
        font-size: 6rem;
        text-shadow: 5px 5px 5px var(--dark-grey-color);
        padding: 10%;
    }

    .introduction p {
        font-size: 3.5rem;
        padding: 50px;
        text-shadow: 5px 5px 5px var(--dark-grey-color);
    }

    .introduction button {
        font-size: 2.7rem;
        height: 80px;
    }

    .what-we-do h2 {
        font-size: 6.5rem;
    }

    .what-we-do p {
        font-size: 3rem;
    }

    .what-we-do .slider {
        height: 800px;
    }

    .what-we-do .description ul li,
    .what-we-do .description p {
        font-size: 3rem;
        padding: 10px;
    }

    .full-list-services h2 {
        font-size: 4rem;
    }

    .full-list-services .service .img-of-service {
        height: 550px;
    }

    .full-list-services .service h3 {
        font-size: 4rem;
    }

    .full-list-services .service h3,
    .full-list-services .service p,
    .full-list-services .service p strong {
        font-size: 3rem;
    }

    .full-list-services button {
        font-size: 3rem;
        height: 70px;
    }

    .opinions .opinion {
        height: 750px;
    }

    .opinions p {
        font-size: 2.6rem;
    }

    .opinion .white-box p {
        font-size: 2.2rem;
        padding: 20px;
    }

    .opinion .white-box {
        height: 80px;
    }

    footer h5,
    footer span {
        font-size: 1.8rem;
    }

    footer .logo-footer {
        width: 180px;
        height: 180px;
    }

    footer ul li {
        font-size: 1.5rem;
    }

    footer .rights p,
    footer .rights a {
        font-size: 1.5rem;
    }
}

/* double screen phones like Samsung Galaxy Floyd 4 */

@media (min-width: 900px) and (max-width: 911px) and (orientation: portrait) {
    .introduction {
        background-image: url(.//images/backgrounds_introduction/domek-w-ogrodzie-background-floyd.jpg);
    }

    .introduction h1 {
        font-size: 6rem;
    }

    .introduction button {
        margin-bottom: 35px;
    }

    .what-we-do {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .what-we-do .description {
        padding: 20px;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .what-we-do .description ul li {
        font-size: 2rem;
    }

    .what-we-do .slider {
        width: 47%;
    }

    .services-container .service .img-of-service {
        height: 500px;
    }

    .full-list-services>div.services-container>div:nth-child(1)>div>img {
        content: url(./images/floyd_background/ogrodnik-zakladanie-ogrodu.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(2)>div>img {
        content: url(./images/floyd_background/ogrodnik-pielegnacja-ogrodu.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(3)>div>img {
        content: url(./images/floyd_background/zraszacz-systemy-nawodnien.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(4)>div>img {
        content: url(./images/floyd_background/aranzacja-zieleni.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(5)>div>img {
        content: url(./images/floyd_background/outsourcing-grafika.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(6)>div>img {
        content: url(./images/floyd_background/oprysk-chemiczny.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(7)>div>img {
        content: url(./images/floyd_background/pracownicy-budowlani.jpg);
    }



}

/* and (min-height: 800px) */
/* small desktops and landscape tablets */
@media (min-width: 992px) and (orientation: landscape) {

    .nav-bar {
        position: relative;
    }

    .mobile-menu {
        display: none;
    }

    .hamburger,
    .logo2 {
        display: none;
    }

    .logo img {
        content: url(./images/logotypes/ciach-ciach-logo.png);
        height: 85px;
        width: 85px;
    }

    .nav-bar {
        height: 85px;
        padding: 0px 5%;
        z-index: 6;
    }

    .nav-bar .desktop-menu {
        width: 45%;
        font-family: var(--title-font);
        display: block;
        cursor: pointer;
    }

    .nav-bar .desktop-menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        list-style: none;
    }

    .nav-bar .desktop-menu ul li,
    .nav-bar .desktop-menu ul li a {
        font-size: 1.5rem;
        border-bottom: 3px var(--background-color) solid;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .nav-bar .desktop-menu ul li a {
        text-decoration: none;
        color: black;
    }

    .nav-bar .desktop-menu ul li:hover,
    .nav-bar .desktop-menu ul li a:hover {
        border-bottom: 3px var(--green-darker) solid;
    }

    .introduction {
        margin-top: 0px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height: calc(100vh - 70px);
        background-image: url(./images/backgrounds_introduction/ogrod_noca_desktop_small_bright.jpg);
        background-position: bottom 0%;
    }

    .introduction h1 {
        padding: 10% 12% 3% 12%;
        font-size: 4.5rem;
        text-shadow: var(--shadow-text-on-bigger-screens);
    }

    .introduction p {
        padding: 0px 10%;
        font-size: 1.8rem;
        padding-bottom: 5%;
        text-shadow: var(--shadow-text-on-bigger-screens);
        margin-top: 100px;
    }

    .introduction button {
        width: 380px;
        font-size: 2rem;
        height: 55px;
    }

    .introduction button span i {
        font-size: 3rem;
    }

    .what-we-do {
        margin-bottom: 5px;
    }

    .what-we-do .description h2 {
        font-size: 5rem;
    }

    .what-we-do .slider {
        width: 36%;
        -webkit-transform: translateY(-120px);
        -ms-transform: translateY(-120px);
        transform: translateY(-120px);
        z-index: 5;
    }

    .what-we-do .description {
        width: 64%;
    }

    .wrapper {
        background-color: var(--background-color-2);
    }

    .full-list-services {
        background-color: var(--background-color-2);
    }

    .full-list-services .service {
        border-radius: 1%;
    }

    .full-list-services .small-title-2 {
        position: relative;
        height: 30px;
        width: 100vw;
        background-color: var(--background-color-2);
        margin-bottom: 50px;
    }

    .full-list-services h2 {
        position: absolute;
        font-size: 3rem;
        display: block;
        left: 5vw;
        top: -100%;
        z-index: 2;
        padding-right: 20px;
        background-color: var(--background-color-2);
    }

    .full-list-services span {
        position: absolute;
        background-color: var(--background-color-2);
        z-index: 1;
        display: block;
        border-top: 1px solid var(--dark-grey-color);
        width: 100%;
        left: 5vw;
        top: 50%;
        height: 30px;
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }

    .services-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .services-container .service {
        width: 32%;
        background-color: var(--background-color);
        height: 700px;
        margin-top: 10px;
    }

    .full-list-services .service h3,
    .full-list-services .service p {
        margin: 0vw;
        padding: 15px;
    }

    .full-list-services .service p,
    .full-list-services .service p strong {
        font-size: 1.4rem;
    }

    .full-list-services .service h3 {
        padding: 1px 15px;
        font-size: 2rem;
        font-weight: 600;
    }

    .full-list-services .service .img-of-service {
        width: 300px;
        height: 220px;
    }

    .full-list-services>div.services-container>div:nth-child(1)>div>img {
        content: url(./images/desktop/desktop_services/ogrodnik-zakladanie-ogrodu.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(2)>div>img {
        content: url(./images/desktop/desktop_services/ogrodnik-pielegnacja-ogrodu.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(3)>div>img {
        content: url(./images/desktop/desktop_services/zraszacz-systemy-nawodnien.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(4)>div>img {
        content: url(./images/desktop/desktop_services/aranzacja-zieleni.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(5)>div>img {
        content: url(./images/desktop/desktop_services/outsourcing-grafika.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(6)>div>img {
        content: url(./images/desktop/desktop_services/oprysk-ogrodu.jpg);
    }

    .full-list-services>div.services-container>div:nth-child(7)>div>img {
        content: url(./images/desktop/desktop_services/pracownicy-budowlani.jpg);
    }

    .full-list-services .service button {
        margin-top: auto;
        width: 60%;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .opinions {
        background-color: var(--background-color);
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }

    .opinions p,
    .opinions h2 {
        padding-left: 5vw;
        width: 100%;
        margin: 0;
    }

    .opinions p {
        font-size: 1.7rem;
    }

    .opinions h2 {
        font-size: 4rem;
    }

    .opinions .small-title-3 {
        width: 66%;
        height: 280px;
        margin-bottom: 30px;
    }

    .opinions .small-stats {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 33%;
        margin-top: 60px;
        margin-bottom: 165px;
        height: 200px;
        border-left: 1px solid var(--dark-grey-color);
        font-family: var(--title-font);
    }

    .opinions .small-stats span:nth-child(1) {
        font-size: 6rem;
        font-weight: 300;
        color: var(--green-darker);
    }

    .opinions .small-stats span:nth-child(2) {
        font-size: 1.3rem;
        letter-spacing: 1.5px;
    }

    .opinions .opinion {
        width: 31%;
        height: 600px;
        margin: 0px;
        margin-bottom: 100px;
        border-radius: 1%;
        -webkit-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
    }

    .opinions>div:nth-child(3) {
        background-image: url(./images/desktop_opinions/podlewanie-ogrodu.jpg);
    }

    .opinions>div:nth-child(4) {
        background-image: url(./images/desktop_opinions/piekny-ogrod.jpg);
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    .opinions>div:nth-child(5) {
        background-image: url(./images/desktop_opinions/fontanna-przy-firmie.jpg);
        -webkit-transform: translateY(35px);
        -ms-transform: translateY(35px);
        transform: translateY(35px)
    }

    .opinions .opinion p {
        font-size: 1.3rem;
        padding: 4px;
    }

    .opinions .opinion .white-box {
        padding: 4px;
        height: 170px;
    }

    .main-footer {
        width: 90%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

/* and (min-height: 800px) */
/* larger dekstops above 1200px */

@media (min-width: 1200px) and (orientation: landscape) {
    .introduction {
        background-image: url(./images/backgrounds_introduction/ogrod_noca_desktop_1200_bright.jpg);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .introduction h1 {
        font-size: 5rem;
        padding: 50px;
    }

    .introduction p {
        margin: 0px;
        padding: 50px;
    }

    .full-list-services .small-title-2 {
        width: 91.5%;
    }

    .what-we-do .description h2 {
        font-size: 6rem;
    }

    .what-we-do .description p {
        font-size: 1.8rem;
    }

    .what-we-do .description ul li {
        font-size: 2rem;
    }

    .full-list-services .service .img-of-service {
        width: 90%;
    }

    .full-list-services .service {
        padding-left: 1%;
        padding-right: 1%;
    }

}

/* and (min-height: 800px) */

/* laptops and screens above 1400px */

@media (min-width: 1400px) and (orientation: landscape) {

    .nav-bar {
        padding: 0px 120px;
    }

    .introduction {
        height: 85vh;
        background-image: url(./images/backgrounds_introduction/ogrod_noca_desktop_1400_bright_fixed.jpg);
    }

    .introduction h1 {
        font-size: 5.5rem;
    }

    .introduction p {
        font-size: 2.2rem;
    }

    .what-we-do,
    .full-list-services,
    .opinions {
        padding-left: 120px;
        padding-right: 120px;
    }

}

/* laptops and screens like tv above 1920px */

@media (min-width: 1920px) {

    .nav-bar {
        padding: 0px 350px;
    }

    .introduction {
        height: 75vh;
        background-image: url(./images/backgrounds_introduction/ogrod_noca_desktop_1920_bright_fixed.jpg);
    }

    .introduction h1 {
        padding-bottom: 10px;
    }

    .introduction p {
        margin-top: 0px;
    }

    .what-we-do .slider {
        height: 850px;
        -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        transform: translateY(-200px);
    }

    .what-we-do .description h2 {
        font-size: 8rem;
        -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    .what-we-do,
    .full-list-services,
    .opinions {
        padding-left: 330px;
        padding-right: 330px;
    }

    footer .main-footer {
        padding-left: 275px;
        padding-right: 275px;
    }
}

/* animations */

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
        opacity: 0.5;
    }

    10% {
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
        opacity: 0.6;
    }

    20% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
        opacity: 0.7;
    }

    30% {
        -webkit-transform: translateY(-150px);
        transform: translateY(-150px);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0.9;
    }

    60% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    70% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    80% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    90% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes arrow {
    0% {
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
        opacity: 0.5;
    }

    10% {
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
        opacity: 0.6;
    }

    20% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
        opacity: 0.7;
    }

    30% {
        -webkit-transform: translateY(-150px);
        transform: translateY(-150px);
        opacity: 0.7;
    }

    40% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0.9;
    }

    60% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    70% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    80% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    90% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}