* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

:root {
    --background-color: rgb(255, 255, 255);
    --background-color-2: rgb(245, 245, 245);
    --grey-color: rgb(96, 96, 96);
    --dark-grey-color: rgb(23, 23, 23);
    --title-font: 'Unbounded', 'Arial';
    --text-font: 'Open+Sans', 'Arial';
    --green-lighter: rgb(105, 152, 61);
    --green-darker: rgb(75 107 43);
    --shadow: 3px 2px 5px 5px rgba(104, 104, 104, 0.295);
    --footer-background: rgb(8, 51, 108);
    --footer-title: rgb(21, 130, 246);
    --footer-signature-background: rgb(18, 33, 52);
    --shadow-text-on-bigger-screens: 5px 5px 10px var(--dark-grey-color);
}

.wrapper {
    background-color: var(--background-color-2);
}

.service-intro {
    background-image: url(../images/contact_images/ogrod_ziema_narzedzia_mobile_p.jpg);
    position: relative;
}

.contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-us div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0px;
    background-color: var(--background-color);
}

.contact-us div img {
    margin: 0 auto;
    padding: 10px;
}

.contact-us div p {
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
}

.contact-us div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.contact-us div a button {
    font-size: 1.8rem;
    padding: 3px 5px;
    background-color: #3B5998;
    color: rgb(255, 255, 255);
    font-family: var(--title-font);
    cursor: pointer;
}

.contact-us div a button:hover {
    background-color: #597dcc;
}


.contact-us div:nth-child(1) {
    border: solid 1px green;
    background-color: rgba(8, 158, 8, 0.090);
    border-radius: 1%;
    padding: 10px;
}

.contact-us div:nth-child(2) {
    border: solid 1px red;
    background-color: rgba(255, 0, 0, 0.090);
    border-radius: 1%;
    padding: 10px;
}

.contact-us div:nth-child(3) {
    border: solid 1px blue;
    background-color: rgba(0, 0, 255, 0.090);
    border-radius: 1%;
    padding: 10px;
}


.contact-us div span {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
}

.contact-us img {
    width: 100px;
}


@media (orientation: landscape) {

    .service-intro {
        background-image: url(../images/contact_images/ogrod_ziema_narzedzia_mobile_l_and_tablets_p.jpg);
    }

    .contact-us div {
        width: 50vw;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .service-intro {
        background-image: url(../images/contact_images/ogrod_ziema_narzedzia_mobile_l_and_tablets_p.jpg);
    }

    .contact-us div {
        width: 60vw;
    }

    .contact-us div p {
        font-size: 2.8rem;
    }

    .contact-us div span {
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) and (orientation: landscape) {
    .service-intro {
        background-image: url(../images/contact_images/ogrod_ziema_narzedzia_small_lap.jpg);
    }

    .contact-us {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .contact-us div {
        width: 30%;
        height: 300px;
        margin: 10px;
    }

}

@media (min-width: 1200px) and (orientation: landscape) {
    .service-intro {
        background-image: url(../images/contact_images/ogrod_ziema_narzedzia_avg_lap.jpg);
    }

    .contact-us div {
        width: 25%;
        height: 400px;
        margin: 30px;
    }

    .contact-us div img {
        width: 150px;
    }
}

@media (min-width: 1400px) and (orientation: landscape) {
    .service-intro {
        background-image: url(../images/contact_images/ogrod_ziema_narzedzia_avg_lap.jpg);
    }

    .contact-us div p {
        font-size: 2.2rem;
    }

    .contact-us div span {
        font-size: 1.6rem;
        font-weight: 300;
    }

    .contact-us>div:nth-child(3)>a>button {
        font-size: 2.2rem;
    }
}

@media (min-width: 1920px) {
    .service-intro {
        background-image: url(../images/contact_images/ogrod_ziema_narzedzia_xl_lap.jpg);
    }

    .contact-us {
        padding-left: 100px;
        padding-right: 100px;
    }

    .contact-us div p {
        font-size: 3rem;
    }

    .contact-us div span {
        font-size: 1.6rem;
        font-weight: 300;
    }

    .contact-us>div:nth-child(3)>a>button {
        font-size: 3rem;
    }
}