* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

:root {
    --background-color: rgb(255, 255, 255);
    --background-color-2: rgb(245, 245, 245);
    --grey-color: rgb(96, 96, 96);
    --dark-grey-color: rgb(23, 23, 23);
    --title-font: 'Unbounded', 'Arial';
    --text-font: 'Open+Sans', 'Arial';
    --green-lighter: rgb(105, 152, 61);
    --green-darker: rgb(75 107 43);
    --shadow: 3px 2px 5px 5px rgba(104, 104, 104, 0.295);
    --footer-background: rgb(8, 51, 108);
    --footer-title: rgb(21, 130, 246);
    --footer-signature-background: rgb(18, 33, 52);
    --shadow-text-on-bigger-screens: 5px 5px 10px var(--dark-grey-color);
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    font-size: 10px;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
    font-family: var(--title-font);
}

.service-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 70px;
    position: relative;
    width: 100%;
    height: 55vh;
    background-position: center;
    background-size: cover;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: 1;
}

.zakladanie-ogrodow {
    background-image: url(./images/subpages_backgrounds/mobile_portrait/Zakladanie-ogrodu-klient.jpg);
}

.systemy-nawodnien {
    background-image: url(./images/subpages_backgrounds/mobile_portrait/Systemy-nawodnienia.jpg);
}

.obsluga-i-serwis {
    background-image: url(./images/subpages_backgrounds/mobile_portrait/Serwis-ogrodu.jpg);
}

.opryski-chemiczne {
    background-image: url(./images/subpages_backgrounds/mobile_portrait/Oprysk-chemiczny-ogrodu.jpg);
}

.uslugi-budowlane {
    background-image: url(./images/subpages_backgrounds/mobile_portrait/Uslugi-Budowlane.jpg);
}

.outsourcing {
    background-image: url(./images/subpages_backgrounds/mobile_portrait/Outsourcing-pracowniczy.jpg);
}

.aranzacja-zieleni {
    background-image: url(./images/subpages_backgrounds/mobile_portrait/Aranzacja-ogrodu-instytucja.jpg);
}

.service-intro span {
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgb(0, 0, 0, 0.5);
}

.service-intro h2 {
    z-index: 3;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: var(--background-color);
}

.description-of-service p {
    margin-top: 20px;
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    padding: 20px;
    line-height: 150%;
}

.photos-of-service {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px 0px;
}

.photos-of-service img {
    width: calc(100% - 40px);
    border-radius: 2%;
    margin: 10px 0px;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.shortcut-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.small-stats {
    display: none;
}

.shortcut-list h3 {
    padding-bottom: 20px;
    font-size: 1.6rem;
    text-align: center;
}

.shortcut-list ul li {
    font-size: 1.4rem;
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact .call-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    border-radius: 1%;
}

.contact .call-me span {
    font-size: 1.4rem;
}

.contact p {
    font-size: 2.5rem;
    padding: 20px 20px 40px 20px;
}

.contact p i {
    font-size: 3.0rem;
    padding-right: 5px;
    color: var(--green-lighter);
}

@media (orientation: landscape) {

    .service-intro {
        height: 105vh;
        background-position: contain;
        background-repeat: no-repeat;
    }

    .zakladanie-ogrodow {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Zakladanie-ogrodu-klient.jpg);
    }

    .systemy-nawodnien {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Systemy-nawodnienia.jpg);
    }

    .obsluga-i-serwis {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Serwis-ogrodu.jpg);
    }

    .opryski-chemiczne {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Oprysk-chemiczny-ogrodu.jpg);
    }

    .uslugi-budowlane {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Uslugi-Budowlane.jpg);
    }

    .outsourcing {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Outsourcing-pracowniczy.jpg);
    }

    .aranzacja-zieleni {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Aranzacja-ogrodu-instytucja.jpg);
    }

    .service-intro h2 {
        font-size: 3.5rem;
    }

    .photos-of-service {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .photos-of-service img {
        width: 45%;
        margin: 10px;
    }

    .description-of-service p {
        padding: 20px 40px;
        font-size: 1.7rem;
    }

    .contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .contact span {
        width: 50%;
        line-height: 130%;
        letter-spacing: 1.3px;
    }

    .contact .call-me {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-bottom: 0px;
    }
}

/* tablets portrait - tested on iPad 768x1024*/

@media (min-width: 768px) and (orientation: portrait) {
    .service-intro {
        height: 45vh;
    }

    .zakladanie-ogrodow {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Zakladanie-ogrodu-klient.jpg);
    }

    .systemy-nawodnien {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Systemy-nawodnienia.jpg);
    }

    .obsluga-i-serwis {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Serwis-ogrodu.jpg);
    }

    .opryski-chemiczne {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Oprysk-chemiczny-ogrodu.jpg);
    }

    .uslugi-budowlane {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Uslugi-Budowlane.jpg);
    }

    .outsourcing {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Outsourcing-pracowniczy.jpg);
    }

    .aranzacja-zieleni {
        background-image: url(./images/subpages_backgrounds/mobile_landscape_tablet_p/Aranzacja-ogrodu-instytucja.jpg);
    }

    .service-intro h2 {
        font-size: 5rem;
    }

    .description-of-service p {
        font-size: 2.1rem;
        padding: 30px;
    }

    .photos-of-service {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0px 10px;
    }

    .photos-of-service img {
        width: 47%;
        margin: 10px
    }

    .shortcut-list h3 {
        font-size: 2.5rem;
    }

    .shortcut-list ul li {
        font-size: 2rem;
    }

    .contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .contact .call-me {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-bottom: 0px;
    }

    .contact .call-me span {
        width: 50%;
        line-height: 130%;
        letter-spacing: 1.3px;
        font-size: 1.8rem;
    }

    .contact .call-me img {
        width: 350px;
    }

    .contact p {
        font-size: 3.2rem;
    }

    .contact p i {
        font-size: 3.7rem;
    }
}

/* tablets landscape and small desktops */

@media (min-width: 992px) and (orientation: landscape) {

    .zakladanie-ogrodow {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Zakladanie-ogrodu-klient.jpg);
    }

    .systemy-nawodnien {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Systemy-nawodnienia.jpg);
    }

    .obsluga-i-serwis {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Serwis-ogrodu.jpg);
    }

    .opryski-chemiczne {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Oprysk-chemiczny-ogrodu.jpg);
    }

    .uslugi-budowlane {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Uslugi-Budowlane.jpg);
    }

    .outsourcing {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Outsourcing-pracowniczy.jpg);
    }

    .aranzacja-zieleni {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Aranzacja-ogrodu-instytucja.jpg);
    }

    .service-intro {
        margin-top: 0px;
        height: 400px;
    }

    .service-intro h2 {
        font-size: 5rem;
    }

    .description-of-service p {
        font-size: 1.8rem;
        padding-left: 50px;
        padding-right: 50px;
    }

    .photos-of-service img {
        width: 45%;
    }

    .shortcut-list h3 {
        font-size: 2rem;
    }

    .shortcut-list ul li {
        font-size: 1.8rem;
    }

    .contact .call-me span {
        font-size: 1.6rem;
    }

    .contact p {
        font-size: 2.8rem
    }

    .contact p i {
        font-size: 3.2rem;
    }
}

@media (min-width: 1200px) and (orientation: landscape) {

    .zakladanie-ogrodow {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Zakladanie-ogrodu-klient.jpg);
    }

    .systemy-nawodnien {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Systemy-nawodnienia.jpg);
    }

    .obsluga-i-serwis {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Serwis-ogrodu.jpg);
    }

    .opryski-chemiczne {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Oprysk-chemiczny-ogrodu.jpg);
    }

    .uslugi-budowlane {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Uslugi-Budowlane.jpg);
    }

    .outsourcing {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Outsourcing-pracowniczy.jpg);
    }

    .aranzacja-zieleni {
        background-image: url(./images/subpages_backgrounds/mid_desktop/Aranzacja-ogrodu-instytucja.jpg);
    }

    .description-of-service {
        padding: 20px 50px;
        line-height: 150%;
        letter-spacing: 2px;
    }

    .description-of-service p {
        font-size: 2.2rem;
    }

    .photos-of-service {
        padding-left: 50px;
        padding-right: 50px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .photos-of-service img {
        width: 43%;
        margin: 20px;
    }

    .contact .call-me img {
        width: 350px;
    }

    .contact .call-me span {
        font-size: 2.2rem;
    }

    .contact p {
        font-size: 3.3rem
    }

    .contact p i {
        font-size: 4rem;
    }
}

@media (min-width: 1400px) and (orientation: landscape) {
    .zakladanie-ogrodow {
        background-image: url(./images/subpages_backgrounds/large_desktop/Zakladanie-ogrodu-klient.jpg);
    }

    .systemy-nawodnien {
        background-image: url(./images/subpages_backgrounds/large_desktop/Systemy-nawodnienia.jpg);
    }

    .obsluga-i-serwis {
        background-image: url(./images/subpages_backgrounds/large_desktop/Serwis-ogrodu.jpg);
    }

    .opryski-chemiczne {
        background-image: url(./images/subpages_backgrounds/large_desktop/Oprysk-chemiczny-ogrodu.jpg);
    }

    .uslugi-budowlane {
        background-image: url(./images/subpages_backgrounds/large_desktop/Uslugi-Budowlane.jpg);
    }

    .outsourcing {
        background-image: url(./images/subpages_backgrounds/large_desktop/Outsourcing-pracowniczy.jpg);
    }

    .aranzacja-zieleni {
        background-image: url(./images/subpages_backgrounds/large_desktop/Aranzacja-ogrodu-instytucja.jpg);
    }

    .description-of-service,
    .photos-of-service {
        padding-left: 100px;
        padding-right: 100px;
    }

    .shortcut-list h3 {
        font-size: 2.4rem;
    }

    .shortcut-list ul li {
        font-size: 2rem;
    }
}

@media (min-width: 1920px) {

    .zakladanie-ogrodow {
        background-image: url(./images/subpages_backgrounds/xl_desktop/Zakladanie-ogrodu-klient.jpg);
    }

    .systemy-nawodnien {
        background-image: url(./images/subpages_backgrounds/xl_desktop/Systemy-nawodnienia.jpg);
    }

    .obsluga-i-serwis {
        background-image: url(./images/subpages_backgrounds/xl_desktop/Serwis-ogrodu.jpg);
    }

    .opryski-chemiczne {
        background-image: url(./images/subpages_backgrounds/xl_desktop/Oprysk-chemiczny-ogrodu.jpg);
    }

    .uslugi-budowlane {
        background-image: url(./images/subpages_backgrounds/xl_desktop/Uslugi-Budowlane.jpg);
    }

    .outsourcing {
        background-image: url(./images/subpages_backgrounds/xl_desktop/Outsourcing-pracowniczy.jpg);
    }

    .aranzacja-zieleni {
        background-image: url(./images/subpages_backgrounds/xl_desktop/Aranzacja-ogrodu-instytucja.jpg);
    }

    .service-intro {
        height: 500px;
    }

    .description-of-service {
        padding: 20px 320px;
    }

    .photos-of-service {
        padding-left: 300px;
        padding-right: 300px;

    }
}